manifest {
    name = 'export_qupath_measurements'
    description = 'Export QuPath measurements in headless mode from a QuPath project'
    author = 'WEHI SODA Hub'
    version = '0.1.0'
    mainScript = 'main.nf'
    nextflowVersion = '!>=24.04.0'
}

process {
    executor = 'local'
    cpus = 4
    memory = '32 GB'
    time = '12h'
}

docker.enabled = false
singularity.enabled = false
conda.enabled = false

profiles {
    conda {
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
        process.conda = 'conda-forge::openjdk=17'
    }

    docker {
        docker.enabled = true
        conda.enabled = false
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        conda.enabled = false
        docker.enabled = false
        apptainer.enabled = false
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        conda.enabled = false
        docker.enabled = false
        singularity.enabled = false
    }

    small {
        process {
            executor = 'slurm'
            queue = 'regular'
            withLabel: 'process_medium' {
                cpus   = { 4 }
                memory = { 64.GB * task.attempt }
                time   = { 12.h }
            }
        }
        executor {
            queueSize = 10
            submitRateLimit = '10 sec'
        }
    }

    medium {
        process {
            executor = 'slurm'
            queue = 'regular'
            withLabel: 'process_medium' {
                cpus   = { 4 }
                memory = { 128.GB * task.attempt }
                time   = { 24.h }
            }
        }
        executor {
            queueSize = 10
            submitRateLimit = '10 sec'
        }
    }

    large {
        process {
            executor = 'slurm'
            queue = 'regular'
            withLabel: 'process_medium' {
                cpus   = { 4 }
                memory = { 256.GB * task.attempt }
                time   = { 48.h }
            }
        }
        executor {
            queueSize = 10
            submitRateLimit = '10 sec'
        }
    }
}
